.root{
   -fx-background-color:#1f1f26;
}
.btn-primary{
    -fx-background-color:#5c0f73;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;

}
.btn-primary:hover{
    -fx-background-color:#420957;
}

.chooser{
    -fx-background-color:#28282F;
     -fx-text-fill:#b093ba;
}